
#main {

  .card-label {

    display: flex;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    &__legend {
      width: 100%;
      margin-left: 20px;

      &__head {
        display: flex;
        flex-direction: column;

        h3 {
          @include space-mono-700-bold;
          font-size: 16px;
          line-height: 1.5;

          a {
            font-size: 13px;
            line-height: 1.5;
          }
        }

        p {
          @include space-mono-400-regular;
          font-size: 13px;
          line-height: 1.5;

          margin-top: 6px;
        }
      }
    }
  }
}