
#main {

  .card-label {

    display: flex;

    img {
      width: 213px;
      margin: 48px;
      border-radius: 50%;
    }

    &__legend {
      width: 100%;
      margin: 48px 48px 0 0;

      &__head {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}