$color-light-blue: '#0079FF';
$color-light-grey: '#697C9A';
$color-light-grey-blue: '#4B6A9B';
$color-light-black: '#2B3442';
$color-dark-blue: '#0079FF';
$color-dark-grey: '#FFFFFF';
$color-dark-grey-blue: '#141D2F';
$color-dark-black: '#1E2A47';