@mixin light-mode {
  color: $color-light-grey-blue;

  svg > path {
    fill: $color-light-grey-blue;
  }
}

@mixin dark-mode {
  color: $color-dark-white;

  svg > path {
    fill: $color-dark-white;
  }
}

@mixin element {
  display: grid;
  grid-template-columns: [start] 35px [start-end] auto [end];
  grid-template-rows: [start] 20px [end];
  width: 100%;
  margin-bottom: 10px;

  @include space-mono-400-regular;
  font-size: 13px;
  line-height: 1.5;

  @media screen and (min-width: $br-s) {
    width: 50%;
    font-size: 15px;
  }

  &-null {
    color: $color-light-light-grey-blue;
  }
}

#main {

	.git-card-footer {
		background-color: transparent;
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		&__element, &__element-null {
			@include element;
		}

    &__element-null {
			color: $color-light-light-grey-blue;
		}

    &-dark {
      @include light-mode;
    }
    
    &-light {
      @include dark-mode;
    }
	}
  
}
