@mixin light-mode {
  
  color: $color-light-grey-blue;
  a {
    color: $color-light-blue;
  }
}

@mixin dark-mode {
  
  color: $color-dark-white;
  a {
    color: $color-dark-blue;
  }
}

@mixin element {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;

  @media screen and (min-width: $br-s) {
    width: 50%;
  }

  @include space-mono-400-regular;
  font-size: 13px;
  line-height: 1.5;

  @media screen and (min-width: $br-s) {
    font-size: 15px;
  }

  p, a {
    margin-left: 10px;

    @media screen and (min-width: $br-s) {
      margin-left: 16px;
    }
  }

  &-null {
    color: $color-light-light-grey-blue;
  }
}

#main {

	.git-card-footer {
		background-color: transparent;
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		&__element, &__element-null {
			@include element;
		}

    &__element-null {
			color: $color-light-light-grey-blue;
		}

    &-dark {
      @include light-mode;
    }
    
    &-light {
      @include dark-mode;
    }
	}
  
}
