@mixin main-base {
  min-height: 100vh;
}

.main-theme-dark {
  @include main-base;
  background-color: $color-dark-white;
}

.main-theme-light {
  @include main-base;
  background-color: $color-dark-grey-blue;
}
