@import '../../styles/constants';

@mixin light-mode {
  
  .repo {
    &__name {
      color: $color-dark-black;
    }

    &__info {
      color: $color-dark-grey-blue;
    }
  }
}

@mixin dark-mode {
  
  .repo {
    &__name, &__info {
      color: $color-dark-white;
    }
  }
}

#main {

  .repo {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;

    @media screen and (min-width: $br-s) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    &__name, &__info {
      @include space-mono-400-regular;
      line-height: 1.5;
      text-align: left;
      text-decoration: none;
      cursor: pointer;
    }

    &__info {
      font-size: 9px;

      @media screen and (min-width: $br-s) {
        font-size: 12px;
      }
    }

    &__name {
      font-size: 12px;

      @media screen and (min-width: $br-s) {
        font-size: 16px;
      }
    }

    a {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
  
  .repo-dark {
    @include light-mode;
  }
  
  .repo-light {
    @include dark-mode;
  }
}
